/** 全局 */
/* 	*{margin:0px; 
	padding:0px;}
	a{
        text-decoration:none;
    }
	
    html{
        overflow: scroll;
        overflow-x:hidden;
        overflow-y:hidden;
        height:100%;
        width:100%;
    }
    body{
        display: block;
        
        background-color: transparent;
        background-image: url("../image/主页/UIC_01.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center 0px;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    }

	*精品介绍div
	.music-detail{
        background-color: rgba(0,0,0, .4);
        bottom: 100px;
        color: #fff;
        font-size: 11px;
        font-family: Helvetica, Verdana, "微软雅黑", "黑体";
        height:130px;
        left: 50%;
        margin-left: -420px;
        padding: 15px;
        position: fixed;
        text-shadow: #000 3px 3px 8px;
        width: 810px;
	}
    .music-detail p{
        margin-bottom:10px;
    }
    .music-detail a{
        color:lightBlue;
    }
    .music-detail a:hover{
        color:lightBlue;
        text-decoration:underline;
    }
	
	
	标题样式
	.music-title {
        line-height: 22px;
        margin-left: -3px;
        font-size: 22px;
        font-weight: bold;
        
	}
	
	豆瓣评分样式
	.revision-score {
        color: rgb(225,191,123);
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        right: 30px;
	}

	歌曲类型样式
	.muted {
        color: #dfdfdf;
	} */

/*NEXT按钮div*/
#btn_prev {
	margin-left: 249px;
}

#btn_next {
	margin-left: 335px;
}

.music-buttons {
	background-color: rgba(0, 0, 0, .4);
	bottom: 100px;
	height: 50px;
	left: 50%;
	line-height: 50px;
	margin-left: 250px;
	position: fixed;
	text-align: center;
	width: 85px;
	cursor: pointer;
}

.music-buttons span {
	display: block;
	color: #fff;
	font-family: Helvetica, Verdana, "微软雅黑", "黑体";
}

.music-buttons span:hover {
	color: #fff;
	background-color: #000;
	text-decoration: underline;
}