@CHARSET "UTF-8";


.userfun_nav{
	float:left;
	padding: 50px;
	border-right: 1px solid #eee;
}
.userfun_nav input{
	display: block;
	margin:15px auto;
	width: 100%;
}

.userfun_page {
	overflow: auto;
}