<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:sqlserver://127.0.0.1:1433;"></property>
		<property name="username" value="user"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/bean/UserSignIn.hbm.xml</value>
				<value>com/bean/MovicType.hbm.xml</value>
				<value>com/bean/MovicDownload.hbm.xml</value>
				<value>com/bean/UserType.hbm.xml</value>
				<value>com/bean/UserIntegral.hbm.xml</value>
				<value>com/bean/MovicVisiterNumber.hbm.xml</value>
				<value>com/bean/UserScoreMovic.hbm.xml</value>
				<value>com/bean/MovicInfo.hbm.xml</value>
				<value>com/bean/MovicArea.hbm.xml</value>
				<value>com/bean/MovicComments.hbm.xml</value>
				<value>com/bean/UserInfo.hbm.xml</value>
				<value>com/bean/MovicPicture.hbm.xml</value>
				<value>com/bean/MovicBeloneArea.hbm.xml</value>
				<value>com/bean/MovicBeloneType.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 开启注解 -->
	<context:annotation-config ></context:annotation-config>

    <!-- 打开aop 注解 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <!-- 配置action -->
	
	
	<!-- 配置server -->

	
	<!-- 打开aop容器 -->
	<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean>
	<!-- 配置aop类 -->
	
	<!-- 用户管理有关的bean配置   黄隆昌配置 开始-->
	<bean id="UserManageDao" class="com.dao.imp.UserManageDaoImp"></bean>
	<bean id="UserManageServer" class="com.server.imp.UserManageServerImp"></bean>
	<bean id="UserManageAction" class="com.action.UserManageAction"></bean>
	<!-- 电影管理有关的bean配置   黄隆昌配置 结束-->
	
	<!-- 电影管理有关的bean配置   梁泽民配置 开始-->
	<bean id="movicManagementDao" class="com.dao.imp.MovicManagementDaoImp"></bean>
	<bean id="movicManagementServer" class="com.server.imp.MovicManagementServerImp"></bean>
	<bean id="movicManagementAction" class="com.action.MovicManagementAction" scope="prototype"></bean>
	
	<bean id="movicPictureAction" class="com.action.MovicPictureAction" scope="prototype"></bean>
	<bean id="movicPictureServer" class="com.server.imp.MovicPictureServerImp"></bean>
	<bean id="movicPictureDao" class="com.dao.imp.MovicPictureDaoImp"></bean>
<!-- 电影管理有关的bean配置   梁泽民配置 结束-->

	<!-- 电影类型有关的bean配置   李灏配置 开始-->
	<bean id="movicTypeDao" class="com.dao.imp.MovicTypeDaoImp"></bean>
	<bean id="movicTypeServer" class="com.server.imp.MovicTypeServerImp" scope="prototype"></bean>
	<bean id="movicTypeAction" class="com.action.MovicTypeAction"></bean>
	<bean id="movicAreaDao" class="com.dao.imp.MovicAreaDaoImp"></bean>
	<bean id="movicAreaServer" class="com.server.imp.MovicAreaServerImp" scope="prototype"></bean>
	<bean id="movicAreaAction" class="com.action.MovicAreaAction"></bean>
	<bean id="movicIatDao" class="com.dao.imp.MovicIatDaoImp"></bean>
	<bean id="movicIatServer" class="com.server.imp.MovicIatServerImp"></bean>
	<bean id="movicIatAction" class="com.action.MovicIatAction"></bean>
	<!-- 电影类型有关的bean配置   李灏配置 结束-->
	
	<!-- 陈浩贤 -->
	<!-- 配置action -->
	<bean id="showMovieDetailAction" class="com.action.ShowMovieDetailAction"></bean>
	<bean id="commentsManageAction" class="com.action.CommentsManageAction"></bean>
	<bean id="scanAllCommentsAction" class="com.action.ScanAllCommentsAction"></bean>
	<!-- 配置service -->
	<bean id="findCommentsService" class="com.server.imp.FindCommentsService"></bean>	
	<bean id="commentsManageService" class="com.server.imp.CommentsManageService"></bean>
	<!-- 配置dao -->
	<bean id="findCommentsDao" class="com.dao.imp.FindCommentsDao"></bean>
	<bean id="commentsManageDao" class="com.dao.imp.CommentsManageDao"></bean>
	<!-- /陈浩贤 -->
	</beans>
